

body {
  /*background-color: #FBF2EA;*/
  background-color: white;
}

h1 {
  color: #E08E79;
  font-size: 30px;
  font-family: Merriweather, serif;
  text-align: center;
  position: relative;
  top: 40px;
  cursor: default;
}

.flexContainer {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 50px;
}

.flexContainer > div {
  padding: 10px;
  margin: 5px;
}



.box {
  padding-top: 0px;
  text-align: center;
  font-family: Merriweather, monospace;
  font-size: 18px;
  color: white;
  min-width: inherit;
  max-width: inherit;

  position: relative;
  bottom: 15px;
  cursor: default;

}


input[type="text"] {
  /*bottom: 5px;*/
  background: transparent;
  border: none;
  height: 30px;
  font-size: 16px;
  color: white;
  font-family: Merriweather, sans-serif;

}

input:focus {
  outline: none;
}

form {
  position: absolute;
  bottom: 0;
}


#monBox {
  background-color: #FE4365;
}

#tuesBox {
  background-color: #FC9D9A;
}

#wedBox {
  background-color: #F9CDAD;

}

#thursBox {
  background-color: #C8C8A9;
}

#friBox {
  background-color: #83AF9B;
}


div {
  border-radius: 10px;
  padding-top: 0px;

}

.zoom {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0;
  position: relative;
  min-width: 210px;
  max-width: 210px;
  min-height: 420px;

}

.zoom:hover {
  transform: scale(1.1);
}

::placeholder {
  color: white;
}


ul{
  margin: 0;
  padding: 0;
  min-height: 300px;
  color: white;
  max-width: 240px;
  padding-bottom: 24px;

}

ul li {
  position: relative;
  padding: 8px 8px 8px 10px;
  font-size: 16px;
  font-family: Merriweather, sans-serif;
  list-style-type:none;
  cursor: default;
}

ul li.checked {
  text-decoration: line-through;
}

.listText {
  margin-right: 10px;
  word-wrap: break-word;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px 8px 8px 10px;
  opacity: 0;
}

.close:hover {
  cursor: default;
  color: white;
  opacity: 1;

}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  transition: 0.3s;
  border-radius: 10px;
}

.addBtn:hover {
  background-color: #bbb;
}
